.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -25px;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}
